# Imports

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import plotly.express as px

# Setting view options

In [2]:
# Defining a function to show all content in a dataframe
def print_full(x):
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.width', 2000)
    pd.set_option('display.float_format', '{:20,.2f}'.format)
    pd.set_option('display.max_colwidth', None)
    display(x)
    pd.reset_option('display.max_rows')
    pd.reset_option('display.max_columns')
    pd.reset_option('display.width')
    pd.reset_option('display.float_format')
    pd.reset_option('display.max_colwidth')

# Defining a function to show al columns in data frame
def print_all_columns(x):
    pd.set_option('display.max_columns', None)
    display(x)
    pd.reset_option('display.max_rows')

# Adjustion float format
pd.set_option('display.float_format', '{:.2f}'.format)

# Data load

In [3]:
# Dataset load
data = pd.read_csv('datasets/kc_house_data.csv')

In [4]:
# Data dictionary load
data_dict = pd.read_csv('datasets/kc_house_dict_data.csv', quotechar="'")

# Data informations

In [5]:
# Informations about dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [6]:
# Data dictionary
print_full(data_dict)

       Variable                                                                                                                                                                                                                                                           Description
0            id                                                                                                                                                                                                                                                        Identification
1          date                                                                                                                                                                                                                                                             Date sold
2         price                                                                                                                                                                                                                                                            Sale price
3      bedrooms                                                                                                                                                                                                                                                    Number of bedrooms
4     bathrooms                                                                                                                                                                                                                                                   Number of bathrooms
5      sqft_liv                                                                                                                                                                                                                                    Size of living area in square feet
6      sqft_lot                                                                                                                                                                                                                                        Size of the lot in square feet
7        floors                                                                                                                                                                                                                                                      Number of floors
8    waterfront                                                                                                                                                                                                                     ‘1’ if the property has a waterfront, ‘0’ if not.
9          view                                                                                                                                                                                                         An index from 0 to 4 of how good the view of the property was
10    condition                                                                                                                                                                                                                            Condition of the house, ranked from 1 to 5
11        grade  Classification by construction quality which refers to the types of materials used and the quality of workmanship. Buildings of better quality (higher grade) cost more to build per unit of measure and command higher value. Additional information in: KingCounty
12   sqft_above                                                                                                                                                                                                                                              Square feet above ground
13   sqft_basmt                                                                                                                                                                                                                                              Square feet below ground
14     yr_built                                                                                                                                                                                                                                                            Year built
15     yr_renov                                                                                                                                                                                                                                Year renovated. ‘0’ if never renovated
16      zipcode                                                                                                                                                                                                                                                      5 digit zip code
17          lat                                                                                                                                                                                                                                                              Latitude
18         long                                                                                                                                                                                                                                                             Longitude
19  squft_liv15                                                                                                                                                                               Average size of interior housing living space for the closest 15 houses, in square feet
20  squft_lot15                                                                                                                                                                                                   Average size of land lots for the closest 15 houses, in square feet

# Data munging

## Changing columns names

In [7]:
data.rename(columns={'price': 'sale_price'}, inplace=True)

## Dropping duplicates ids

In [8]:
# Showing infos before drop
print('Number of rows:',data['id'].shape[0])
print('Number of unique ids:', data['id'].unique().shape[0])
print('Number of duplicates ids:', (data['id'].shape[0] - data['id'].unique().shape[0]))
print('-------')

# Droping duplicates ids
data.drop_duplicates('id', inplace=True)
print('New number of rows:',data['id'].shape[0])

Number of rows: 21613
Number of unique ids: 21436
Number of duplicates ids: 177
-------
New number of rows: 21436

## Convert columns to datetime and sort by date

In [9]:
# Converting to pandas datetime
data['date'] = pd.to_datetime(data['date'])

In [10]:
# Sorting data by date
data = data.sort_values('date', ascending = True)

# Data exploration

In [11]:
data[['bathrooms','id']].groupby('bathrooms').count().reset_index().rename(columns={'id':'count_id'})

    bathrooms  count_id
0        0.00        10
1        0.50         4
2        0.75        71
3        1.00      3795
4        1.25         9
5        1.50      1430
6        1.75      3020
7        2.00      1913
8        2.25      2031
9        2.50      5355
10       2.75      1182
11       3.00       747
12       3.25       586
13       3.50       729
14       3.75       155
15       4.00       134
16       4.25        79
17       4.50        99
18       4.75        23
19       5.00        21
20       5.25        13
21       5.50        10
22       5.75         4
23       6.00         6
24       6.25         2
25       6.50         2
26       6.75         2
27       7.50         1
28       7.75         1
29       8.00         2

In [12]:
data[['date', 'id']].groupby('date').count().reset_index().rename(columns={'id':'count_id'}).sort_values('date', ascending = True)

          date  count_id
0   2014-05-02        67
1   2014-05-03         4
2   2014-05-04         5
3   2014-05-05        84
4   2014-05-06        83
..         ...       ...
367 2015-05-13        30
368 2015-05-14        10
369 2015-05-15         1
370 2015-05-24         1
371 2015-05-27         1

[372 rows x 2 columns]

In [13]:
data.describe()

,id,sale_price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.143600e+04,2.143600e+04,21436.000000,21436.000000,21436.000000,2.143600e+04,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000
mean,4.580765e+09,5.405293e+05,3.371571,2.117349,2082.704936,1.513564e+04,1.496198,0.007604,0.235118,3.410384,7.661737,1790.960440,291.744495,1971.098433,84.729800,98077.862288,47.560156,-122.213697,1988.314378,12785.961280
std,2.876590e+09,3.676893e+05,0.929205,0.769913,919.146469,4.153862e+04,0.540388,0.086871,0.767092,0.650235,1.174256,829.026491,442.781983,29.385277,402.431012,53.469371,0.138601,0.140896,685.699093,27375.467469
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123700e+09,3.221500e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1200.000000,0.000000,1952.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904921e+09,4.500000e+05,3.000000,2.250000,1920.000000,7.614000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.572000,-122.230000,1840.000000,7620.000000
75%,7.308675e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.069625e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2220.000000,560.000000,1997.000000,0.000000,98117.000000,47.678000,-122.124000,2370.000000,10087.250000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000